<div class="container">
  <h2>My Cart (5)</h2>
  <mat-card class="card cart-item">
    <div class="item-container">
      <div class="image">
        <img src="..\assets\Image 7.png" alt="image" class="bookimg">
      </div>
      <div class="info">
        <div class="title"><strong>Don't make me think</strong></div>
        <h6 class="author">By Stephen King</h6>
        <h4 class="price"><strong>RS 1500</strong> </h4><br>
        <div class="quantity-container">
            <button mat-flat-button >-</button>
            <input value="2" type="text"/>    
            <button mat-flat-button >+</button>
        </div>
  
      </div>
    </div>
  </mat-card>
  <mat-card class="card cart-item">
    <div class="item-container">
      <div class="image">
        <img src="..\assets\Image 7.png" alt="image" class="bookimg">
      </div>
      <div class="info">
        <div class="title"><strong>Don't make me think</strong></div>
        <h6 class="author">By Stephen King</h6>
        <h4 class="price"><strong>RS 1500</strong> </h4><br>
        <div class="quantity-container">
            <button mat-flat-button >-</button>
            <input value="2" type="text"/>    
            <button mat-flat-button >+</button>
        </div>
  
      </div>
    </div>
  </mat-card>
  <mat-card class="card cart-item">
    <div class="item-container">
      <div class="image">
        <img src="..\assets\Image 7.png" alt="image" class="bookimg">
      </div>
      <div class="info">
        <div class="title"><strong>Don't make me think</strong></div>
        <h6 class="author">By Stephen King</h6>
        <h4 class="price"><strong>RS 1500</strong> </h4><br>
        <div class="quantity-container">
            <button mat-flat-button >-</button>
            <input value="2" type="text"/>    
            <button mat-flat-button >+</button>
        </div>
  
      </div>
    </div>
  </mat-card>
  <mat-card class="card cart-item">
    <div class="item-container">
      <div class="image">
        <img src="..\assets\Image 7.png" alt="image" class="bookimg">
      </div>
      <div class="info">
        <div class="title"><strong>Don't make me think</strong></div>
        <h6 class="author">By Stephen King</h6>
        <h4 class="price"><strong>RS 1500</strong> </h4><br>
        <div class="quantity-container">
            <button mat-flat-button >-</button>
            <input value="2" type="text"/>    
            <button mat-flat-button >+</button>
        </div>
  
      </div>
    </div>
  </mat-card>
  <mat-card class="card cart-item">
    <div class="item-container">
      <div class="image">
        <img src="..\assets\Image 7.png" alt="image" class="bookimg">
      </div>
      <div class="info">
        <div class="title"><strong>Don't make me think</strong></div>
        <h6 class="author">By Stephen King</h6>
        <h4 class="price"><strong>RS 1500</strong> </h4><br>
        <div class="quantity-container">
            <button mat-flat-button >-</button>
            <input value="2" type="text"/>    
            <button mat-flat-button >+</button>
        </div>
  
      </div>
    </div>
  </mat-card>
  <mat-card class="card action-card">
    <h3>Total Price: <span>RS. 990</span></h3>
    <button mat-button>PLACE ORDER</button>   
  </mat-card>
</div>
