<div class="dashboard container">
  <div class="logo-container">
    <img src="../assets/education_1.svg" alt="Book store icon" />
    <div class="title-container">
      <span class="title">Bookstore</span><br />
    </div>
  </div>
  <br />
  <h2 class="msg">Welcome to Book Store <br> Application</h2>
  <br /><br />
   
  <div class="btn-row">
    <button class="btn" mat-raised-button routerLink="/login">
      Login
    </button>
    <button class="btn" mat-raised-button routerLink="/register">
      Register
    </button>
  </div>
  <div class="row" routerLink="/home">
     <h5>Check out our books <mat-icon>arrow_right_alt</mat-icon></h5>
  </div>
 
</div>
