<div class="container">
  <div class="header">
    <div class="first-item">
      <span class="bookItems"><strong>BOOKS</strong><span class="count">({{bookLength}} items)</span></span>
    </div>    
    <select class="sort" (change)="sort()" [(ngModel)]="sortBy">
        <option *ngFor="let option of sortByOptions" [selected]="option===sortBy" [value]="option">{{option}}</option>    
    </select>
  </div>
</div>
<div class="book-container container">
<mat-card class="book-card" *ngFor="let book of books">   
    <div class="book-image">
        <img [src]="book.bookImage" alt="image" class="bookimg">
    </div>
    <div class="book-info">
        <h3 class="title"><strong>{{book.bookName}}</strong></h3>
        <h6 class="author">{{book.author}}</h6>
        <h4 class="price"><strong>{{book.bookPrice}}</strong> </h4><br>
        <div class="actions">
            <button mat-flat-button class="button add-btn">Add to bag</button>
            <button mat-flat-button class="button wishlist">WISHLIST</button>
        </div>
    </div>
    <span style="flex: 1 1 auto;"></span>
</mat-card>
</div>


